* {
    font-family: 'Livvic', sans-serif;
    /*font-weight: bold;*/
}

body {
    background-color: darkgray;
    margin-top: 20px;
}

.container {
    display: block;
    width: 400px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
}